
html, body {
  
 height: 100%;
 
 padding: 0;
  margin: 0;
  /*overflow: hidden;*/
  background-color: #FFF; 
  /*font-family: "Helvetica Neue", Helvetica, Arial, freesans, sans-serif; */ 
  font-family: 'Gudea', sans-serif;
  color:#666;
  font-size: 1em;
}


h1, h2, h3, h4 {
  font-weight: normal;
  margin: 0px;
}

#map { 
	position:absolute; 
	left:0px; 
	top:0px; 
	width:100%; 
	height: 100%; 
}

.ghbtns { 
	position: relative; 
	top: 0px; 
	left: 0px; 
}
a { color: #0077ff; }

#footer {
  position:absolute;		
  bottom: 40px;
  right: 20px;
  text-align: right;
}

.layerSelector {
    position:absolute;
    width:160px;
    left:4em;
    top:1em;
    /*border: 1px solid #ccc;*/
    /*border-radius: 1px;*/
    overflow: hidden;
/*    background: transparent;*/
    background: url("../images/icon_down-16.png") no-repeat 0% 50%;
}



.layerSelector select {
    
    font-family:inherit;
    font-size:0.8em;
    color:#666;
    left:2em;
    padding: 0.5em 1.25em;
    
/*    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;*/
}

.layerSelector select:focus {
    outline: none;
    font-family:inherit;
    font-size:0.8em;
    border-radius: 0px;
    
}
.layerSelector select option {
   /*background-color: #000;*/
}

#tweenRefObject{
	position:absolute;
	width:40px;
	height:40px;
	background:#000;
	right:10px;
	top:10px;
}



.tooltip {   
  position: absolute;           
  text-align: left;
  font-family: sans-serif;
  color:white;
  font-size: 0.7em;           
  padding: 4px;             
  background: #333;   
  border: 0px;      
  border-radius: 4px;           
  pointer-events: none;
  z-index:225;
  opacity:0;
  
}












